button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.button {
	-webkit-appearance: none;
	display: block;
	border: 0;
	padding: 0;
	text-decoration: none;
	@include font-size(14);
	color: $black;
	background-color: transparent;
	cursor: pointer;

	> span {
		display: block;
		overflow: hidden;
		position: relative;
		border-radius: $border-radius-small;
		border: 1px solid $gray-med;
		padding: $button-padding-v $button-padding-h;
	}

	&:hover > span,
	&:focus > span {
		transform: translate(-2px, -2px);
		box-shadow: $box-shadow-shallow;
		cursor: pointer;
		background-color: $gray-light;
	}

	span.circle {
		position: absolute;
		transform: scale(0);
		opacity: .7;
		left: 0;
		top: 0;
		width: 100%;
		padding-top: 100%;
		border-radius: 50%;
		background-color: $gray-dark;
		pointer-events: none;

		&.animate {
			animation: button-circle-out .6s $ease-in-out-quart;
		}
	}

	.icon {
		margin: 0 5px 1px 0;
		vertical-align: middle;
	}
}

.pseudo-button {
	display: inline-block;
	border: 1px solid $gray-med;
	border-radius: $border-radius-small;
	padding: 1px 5px;
	color: lighten($black, 10%);

	> * {
		vertical-align: middle;
	}

	svg {
		margin-bottom: .15em;
	}

	&.run {
		color: $green;
		fill: $green;
	}
}

@keyframes button-circle-out {
	100% {
		transform: scale(6);
		opacity: 0;
	}
}