.app,
.tag-canvas {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

header h1 {
	letter-spacing: 1px;

	b {
		color: $blue-dark;
	}
}

.tag-canvas {
	display: flex;
	flex-direction: column;

	header,
	.pallet {
		flex-grow: 0;
		flex-shrink: 0;
		padding: $section-padding;
	}

	.main {
		display: flex;
		flex-grow: 1;

		> * {
			flex-basis: 50%;
			padding: $section-padding;
		}
	}

	.template {
		background-color: $bg-code;
	}

	.view {
		position: relative;
		background-color: pink;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.pallet {
		flex-basis: ($droplet-size / 2) + ($section-padding * 2);
	}
}