.app,
.tag-canvas {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.tag-canvas {
	display: flex;
	flex-direction: column;

	header {
		flex-shrink: 0;
	}

	.main {
		display: flex;
		flex-grow: 1;
		// min-height is set to fix FireFox's handling of Pre elements within flex containers
		min-height: 0;

		> *:not(.drag-handle) {
			flex-basis: 50%;
		}

		.drag-handle {
			flex-basis: 20px;
		}
	}

	.pallet {
		flex-shrink: 0;
	}
}