.dialog {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include background-rgba($gray-med, 0.7);

	&.visible {
		display: flex;
	}

	form {
		background-color: $bg-bright;

		& > *:not(:empty) {
			padding: 20px;
		}

		fieldset:not(.buttons) {
			border: 1px solid red;
		}
	}
}