.dialog {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include background-rgba($gray-med, 0.7);

	&.visible {
		display: flex;
	}

	.dialog-container {
		box-shadow: $box-shadow-deep;
		max-width: 500px;
		background-color: $bg-bright;
	}

	.dialog-heading {
		padding: $dialog-padding;
		border-bottom: 1px solid $gray-med;

		p:nth-of-type(n+2) {
			@include font-size(14);
		}
	}
}