.dialog {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include background-rgba($gray-med, 0.7);

	&.visible {
		display: flex;
	}

	&.no-overlay.visible {
		pointer-events: none;
		background: none;
	}

	.dialog-container {
		pointer-events: auto;
		box-shadow: $box-shadow-deep;
		border: 1px solid $gray-dark;
		max-width: 500px;
		background-color: $dialog-bg-color;
	}

	.dialog-heading {
		padding: $dialog-padding;
		border-bottom: 1px solid $gray-med;

		.icon {
			margin-right: .5em;
		}

		p:nth-of-type(n+2) {
			@include font-size(14);
		}
	}

	.button {
		@include font-size(16);

		> span {
			padding: ($button-padding-v * 1.5) ($button-padding-h * 1.5);
		}
	}

}