.drag-handle {
	$handle_width: 8px;
	$handle_height: 50px;

	position: relative;
	background-color: darken($gray-light, 2%);
	cursor: col-resize;

	&:after {
		content: '';
		transition: all .15s $ease-in-out-quart;
		position: absolute;
		box-sizing: border-box;
		left: 50%;
		top: 50%;
		margin-top: -($handle_height / 2);
		margin-left: -($handle_width / 2);
		width: $handle_width;
		height: $handle_height;
		border-left: 2px solid $gray-med;
		border-right: 2px solid $gray-med;
	}

	&:hover,
	&.item-dragging {
		background-color: darken($gray-light, 4%);
	}

	&:hover:after,
	&.item-dragging:after {
		height: ($handle_height * 2);
		margin-top: -$handle_height;
	}
}