.droplet {
	transition: background-color,height .15s ease-in-out;
	display: block;
	width: $droplet-size;
	height: $droplet-size;
	padding: 5px;
	text-align: center;
	background-color: salmon;
	text-decoration: none;
	color: white;

	&.attached {
		background-color: teal;
	}

	&.droplet-dragging {
		height: ($droplet-size / 4);
		background-color: red;
	}
}