.droplet {
	border-radius: $border-radius-small;
	width: ($droplet-size * 2);
	height: ($droplet-size / 2);
	text-decoration: none;

	.label {
		transition: background-color .15s $ease-in-out-quart,
			opacity .5s $ease-in-out-quart;
		display: flex;
		align-items: center;
		opacity: 1;
		width: ($droplet-size * 2);
		height: ($droplet-size / 2);
		padding: 5px;
		background-color: $blue;
		color: $black;
	}

	&:hover .label,
	&:active .label {
		color: $white;
		background-color: $blue-dark;
	}

	&.droplet-dragging .label {
		opacity: 0.5;
		box-shadow: $box-shadow-shallow;
		background-color: red;
	}
}