.drop-zone {
	display: inline-block;
	font-family: $font-family-mono;

	.target-outer {
		display: inline-block;
		position: relative;
	}

	.target {
		b {
			border-radius: $border-radius-small;
			padding: 2px 5px;
			background-color: $blue;
			line-height: 120%;
			color: white;
		}

		&.is-active b {
			background-color: $blue-dark;
		}

		&.is-target b {
			box-shadow: 0 0 5px $red;
			background-color: $red;
		}

		&.hidden {
			display: none;
		}
	}

	.attachments {
		> * {
			display: inline-block;
			margin: 1px;
			border-radius: $border-radius-small;
			padding: 1px;
			background-color: $green;
		}

		.element {
			display: block;
		}
	}
}

.drop-zone:hover .target {
	background-color: skyblue;
	cursor: pointer;
}

.droplet-active .drop-zone {
	.target {
		b {
			background-color: $blue-dark;
		}

		&:hover b {
			box-shadow: 0 0 5px $red;
			background-color: $red;
		}
	}
}