.drop-zone {
	display: inline-block;

	.target {
		border-radius: 3px;
		padding: 1px 5px;
		background-color: blue;
		color: white;
	}

	&.is-active .target {
		background-color: lightblue;
	}

	&.is-target .target {
		background-color: red;
	}

	.attachments {
		.element {
			display: block;
		}
	}
}

.drop-zone:hover .target {
	background-color: skyblue;
	cursor: pointer;
}