.drop-zone {
	display: inline-block;

	.target {
		border-radius: $border-radius-small;
		padding: 2px 5px;
		background-color: $blue;
		color: white;

		&.is-active {
			background-color: $blue-dark;
		}

		&.is-target {
			box-shadow: 0 0 5px $red;
			background-color: $red;
		}

		&.hidden {
			display: none;
		}
	}

	.attachments {
		> * {
			display: inline-block;
			margin: 1px;
			border-radius: $border-radius-small;
			padding: 1px;
			background-color: $green;
		}

		.element {
			display: block;
		}
	}
}

.drop-zone:hover .target {
	background-color: skyblue;
	cursor: pointer;
}