form {
	fieldset:not(.buttons) {
		padding: 0 $dialog-padding;
		margin: ($dialog-padding / 2) 0;
	}

	fieldset.buttons {
		@include clearfix();
		border-top: 1px solid $gray-med;
		padding: $dialog-padding;

		button {
			float: right;
			margin: 0 .25em;

			&.pull-left {
				float: left;
			}
		}
	}

	legend {
		font-weight: bolder;
	}

	.field {
		display: flex;
		align-items: center;
		margin: ($dialog-padding / 2) 0;

		label {
			width: 40%;
		}
	}
}

input,
button,
select {
	@include font-size(14);
	padding: 5px;
}

button {
	position: relative;
	border: 0;
	padding: 10px 15px;
	background-color: $gray-med;

	&:hover,
	&:focus {
		left: 2px;
		top: -2px;
		cursor: pointer;
		box-shadow: $box-shadow-shallow;
		background-color: lighten($gray-med, $lighten-factor);
	}

	&:active {
		left: 0;
		top: 0;
		box-shadow: none;
	}

	&.primary {
		// color: $color-button-alt;
		background-color: $blue;

		&.primary:hover,
		&.primary:focus {
			background-color: lighten($blue, $lighten-factor);
		}
	}

	&.danger {
		color: $color-button-danger;
		background-color: $red;

		&.danger:hover,
		&.danger:focus {
			background-color: lighten($red, $lighten-factor);
		}
	}
}