form {
	fieldset:not(.buttons) {
		padding: 0 $dialog-padding;
		margin: ($dialog-padding / 2) 0;
	}

	fieldset.buttons {
		text-align: right;
		border-top: 1px solid $gray-med;
		padding: $dialog-padding;

		button {
			display: inline-block;
			margin: 0 .25em;

			&.pull-left {
				float: left;
			}
		}
	}

	legend {
		font-weight: bolder;
	}

	.field {
		display: flex;
		align-items: center;
		margin: ($dialog-padding / 2) 0;

		label {
			width: 40%;
		}
	}
}

input,
select {
	user-select: all;
	@include font-size(14);
	padding: 5px;
}

button {
	position: relative;

	&.primary,
	&.danger {
		font-weight: bolder;
	}

	&.primary > span {
		// color: $color-button-alt;
		border-color: $blue;
		color: $blue;
	}

	&.primary .circle {
		background-color: darken($blue, $darken-factor);
	}

	&.primary:hover > span,
	&.primary:focus > span {
		color: $white;
		background-color: lighten($blue, $lighten-factor);
	}

	&.danger > span {
		border-color: $red;
		color: $color-button-danger;
	}

	&.danger .circle {
		background-color: darken($color-button-danger, $darken-factor);
	}

	&.danger:hover > span,
	&.danger:focus > span {
		color: $white;
		background-color: lighten($red, $lighten-factor);
	}
}