header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $gray-med;
	padding: $section-padding;
	background-color: $gray-light;

	.logo {
		margin-right: 1em;
	}

	p {
		margin: 0;
	}

	.toolbar {
		margin-left: auto;
	}
}