.pallet {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid $gray-med;
	padding: ($section-padding / 2) $section-padding;
	background-color: $gray-light;

	.droplet {
		margin: ($section-padding / 2) $section-padding ($section-padding / 2) 0;
	}
}