.popup {
	&[x-placement^="top"] {
		margin-bottom: 20px;
	}

	&[x-placement^="right"] {
		margin-left: 20px;
	}

	&[x-placement^="left"] {
		margin-right: 20px;
	}

	&[x-placement] .arrow {
		position: absolute;
		overflow: hidden;
		width: 40px;
		height: 40px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			border: 20px solid $dialog-bg-color;
		}

		&:after {
			border: 22px solid $gray-dark;
		}
	}

	&[x-placement^="top"] .arrow,
	&[x-placement^="bottom"] .arrow {
		height: 20px;
	}

	&[x-placement^="left"] .arrow,
	&[x-placement^="right"] .arrow {
		width: 20px;
	}

	&[x-placement^="top"] .arrow {
		bottom: -20px;
		margin-left: -10px;

		&:before {
			border-color: $dialog-bg-color transparent transparent transparent;
		}

		&:after {
			left: -2px;
			top: -1px;
			border-color: $gray-dark transparent transparent transparent;
		}
	}

	&[x-placement^="left"] .arrow {
		right: -20px;

		&:before {
			border-color: transparent transparent transparent $dialog-bg-color;
		}

		&:after {
			left: -1px;
			top: -2px;
			border-color: transparent transparent transparent $gray-dark;
		}
	}

	&[x-placement^="right"] .arrow {
		left: -20px;

		&:before {
			left: auto;
			right: 0;
			border-color: transparent $dialog-bg-color transparent transparent;
		}

		&:after {
			left: auto;
			right: -1px;
			top: -2px;
			border-color: transparent $gray-dark transparent transparent;
		}
	}
}