.template {
	overflow: auto;

	.drop-zone {
		border-radius: 3px;
		padding: 1px 5px;
		background-color: blue;
		color: white;

		&.active {
			background-color: lightblue;
		}

		&.target {
			background-color: red;
		}
	}

	.drop-zone:hover {
		background-color: skyblue;
		cursor: pointer;
	}

	.hljs {
		font-size: 1.125em;
		line-height: 140%;

		.drop-zone .hljs-string {
			color: white;
		}
	}
}