.template {
	overflow: auto;
	border-right: 1px solid $gray-med;
	background-color: $gray-light;

	pre {
		margin: $section-padding;
		line-height: 130%;
		tab-size: 3;
	}

	.hljs {
		font-size: 1.125em;
		line-height: 130%;

		.drop-zone .hljs-string {
			color: white;
		}
	}
}

.droplet-active .template,
.dragging .template {
	background-color: $bg-code;
}