.template {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-right: 1px solid $gray-med;
	background-color: lighten($bg-code, 8%);

	.template-inner {
		overflow: auto;
		flex-grow: 1;
	}

	.droplet-active & {
		background-color: $bg-code;
	}

	pre {
		margin: $section-padding;
		line-height: 130%;
		-moz-tab-size: 3;
		tab-size: 3;

		* {
			user-select: text;
			cursor: text;
		}
	}

	.hljs {
		font-size: 1.125em;
		line-height: 130%;

		.drop-zone .hljs-string {
			color: white;
		}
	}

	.instruction {
		display: block;
		flex-shrink: 0;
		margin: 0;
		border-bottom: 4px solid $gray-med;
		padding: 10px;
		background-color: lighten($gray-light, 10%);

		&.element {
			border-bottom-color: $color-type-element;
		}

		&.text {
			border-bottom-color: $color-type-text;
		}

		&.attribute {
			border-bottom-color: $color-type-attribute;
		}

		h2,
		p {
			margin: 0;
		}

		h2 {
			@include font-size(16);

			.icon {
				margin-right: .5em;
				vertical-align: middle;
			}
		}

		p {
			@include font-size(14);
		}
	}
}