.toolbar {
	$button_margin: 5px;
	$separator_width: 2px;

	ul {
		list-style: none;
		display: flex;
		padding: 0;

		li {
			margin-left: $button_margin;
			padding-left: $button_margin;

			&.separator {
				margin-left: ($button_margin * 1.5);
				padding-left: ($button_margin * 1.5) + $separator_width;
				border-left: $separator_width solid $gray-med;
			}

			&.run .button {
				border-color: $green-dark;
				color: $green-dark;

				.circle {
					background-color: $green-dark;
				}

				&:hover > span {
					color: $white;
					background-color: $green;
				}
			}
		}
	}

	.button {
		font-weight: bolder;
		@include font-size(14);

		span {
			background-color: $white;
		}
	}
}