.tooltip {
	position: absolute;
	max-width: 400px;

	.content {
		box-shadow: $box-shadow-deep;
		padding: 10px;
		background-color: $dialog-bg-color;

		h2 {
			@include font-size(18);
			// color: $blue-dark;

			.icon {
				margin-right: .5em;
				vertical-align: middle;
				fill: $blue-dark;
			}
		}
	}

	.arrow:after {
		display: none;
	}
}