.toolbar {
	ul {
		list-style: none;
		display: flex;
		padding: 0;

		li {
			margin-left: 5px;
			padding-left: 5px;

			&.separator {
				border-left: 2px solid $gray-light;
			}

			&.run .button {
				color: $green-dark;

				svg {
					fill: currentColor;
				}

				.circle {
					background-color: $green-dark;
				}
			}
		}
	}

	.button {
		font-weight: bolder;
	}
}