.tooltip {
	position: absolute;
	max-width: 400px;

	.content {
		box-shadow: $box-shadow-deep;
		padding: 10px;
		background-color: $dialog-bg-color;

		code {
			display: block;
			box-shadow: $box-shadow-shallow;
			margin: 1em 0;
			width: 100%;
			padding: 5px;
			word-wrap: break-word;
			@include font-size(12);
			background-color: $bg-code;
		}

		h2 {
			@include font-size(18);
			// color: $blue-dark;

			.icon {
				margin-right: .5em;
				vertical-align: middle;
				fill: $blue-dark;
			}
		}
	}

	.arrow:after {
		display: none;
	}
}