body {
	font-family: $font-family-base;
	line-height: $line-height;
	color: $black;
}

h1 {
	@include font-size(24);
}

h2 {
	@include font-size(22);
}

h3 {
	@include font-size(20);
}

p {
	margin: .75em 0;
	@include font-size(16);
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

pre {
	font-family: $font-family-mono;
}