// global metrics
$section-padding: 10px;
$dialog-padding: 20px;

$droplet-height: 35px;

// ui effects
$border-radius-small: 3px;
$border-radius-large: 6px;

$overlay_opacity: .6;
$lighten-factor: 5%;
$darken-factor: 15%;

// named colours
$black: #333;
$white: #fff;
$gray-dark: #b3b1b4;
$gray-med: #e7e5e8;
$gray-light: #fbfbfb;
$blue: #6172ec;
$blue-dark: darken($blue, ($darken-factor / .75));
$red: #ff515c;
$teal: #2f9ed8;
$teal-dark: darken($teal, $darken-factor);
$green: #51cc4d;
$green-dark: darken($green, $darken-factor);
$purple: #c044f1;
$purple-dark: darken($purple, $darken-factor);
$tan: #fcfdcc;

// ui colors
$bg-bright: $white;
$bg-code: $tan;
$button-alt-color: $white;
$button-danger-color: $red;
$dialog-bg-color: lighten($gray-light, $lighten-factor);

// droplet types
$color-type-text: $teal;
$color-type-text-active: $teal-dark;
$color-type-attribute: $green;
$color-type-attribute-active: $green-dark;
$color-type-element: $purple;
$color-type-element-active: $purple-dark;

// typography
$font-size-base: 16; // px
$font-size-code: 14;
$line-height: 140%;

$font-family-base: 'Muli', sans-serif;
$font-family-mono: 'Fira Mono', monospace;

// easings
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// shadows
$color-box-shadow-deep: rgba(0, 0, 0, .1);
$color-box-shadow-shallow: rgba(0, 0, 0, .2);
$distance-box-shadow-deep: 4px;
$distance-box-shadow-shallow: 2px;
$box-shadow-shallow: $distance-box-shadow-shallow $distance-box-shadow-shallow $color-box-shadow-shallow;
$box-shadow-deep: $distance-box-shadow-deep $distance-box-shadow-deep $color-box-shadow-deep;

// buttons
$button-padding-h: 10px;
$button-padding-v: 5px;