$section-padding: 10px;
$dialog-padding: 20px;

$droplet-height: 35px;

$border-radius-small: 3px;
$border-radius-large: 6px;

// named colours
$black: #333;
$white: #fff;
$gray-dark: #a0a0a0;
$gray-med: #ccc;
$gray-light: #eee;
$blue: #959eff;
$blue-dark: #464ae0;
$red: #ff515c;
$green: #61ff4d;
$green-dark: #3b9e2f;
$purple: #cc49ff;
$purple-dark: #8f32b4;
$tan: #f3ffc6;

// ui colors
$bg-bright: $white;
$bg-code: $tan;
$color-button-alt: $white;
$color-button-danger: $white;

// droplet types
$color-type-text: $blue;
$color-type-text-active: $blue-dark;
$color-type-attribute: $green;
$color-type-attribute-active: $green-dark;
$color-type-element: $purple;
$color-type-element-active: $purple-dark;

$overlay_opacity: .6;
$lighten-factor: 5%;

// typography
$font-size-base: 16; // px
$line-height: 140%;

$font-family-base: 'Muli', sans-serif;
$font-family-mono: 'Fira Mono', monospace;

// easings
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// shadows
$box-shadow-shallow: -2px 2px rgba(0, 0, 0, 0.3);
$box-shadow-deep: -5px 5px rgba(0, 0, 0, 0.1);