.view iframe {
	z-index: 1;
}

.overlay,
.view .drag-mask {
	z-index: 2;
}

.droplet,
.drag-handle {
	z-index: 3;
}

.dialog {
	z-index: 4;

	.dialog-container[x-placement] .arrow {
		&:before {
			z-index: 6;
		}

		&:after {
			z-index: 5;
		}
	}
}

.tooltip {
	z-index: 10;

	.arrow {
		&:before {
			z-index: 12;
		}

		&:after {
			z-index: 11;
		}
	}
}

.button {
	&:after {
		z-index: 1;
	}

	span {
		z-index: 2;
	}
}