.view iframe {
	z-index: 1;
}

.overlay,
.view .drag-mask {
	z-index: 2;
}

.droplet,
.drag-handle {
	z-index: 3;
}

.dialog {
	z-index: 4;
}

.button {
	&:after {
		z-index: 1;
	}

	span {
		z-index: 2;
	}
}