@import url('//fonts.googleapis.com/css?family=Fira+Mono|Muli:400,700');
@import 'reset';
@import '_variables';
@import '_mixins';
@import '_typography';
@import '_zindexes.scss';
@import '_general.scss';

* {
	box-sizing: border-box;
	user-select: none;
}

:not(svg) {
	cursor: default;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.hidden {
	display: none;
}

/* main layout */
body {
	background-color: #fff;
}

@import 'components/Canvas';
@import 'components/Header';
@import 'components/Toolbar';
@import 'components/Template';
@import 'components/View';
@import 'components/Pallet';
@import 'components/Button';
@import 'components/DropZone';
@import 'components/Droplet';
@import 'components/Dialog';
@import 'components/Popup';
@import 'components/Form';
@import 'components/Icon';
@import 'components/DragHandle';
@import 'components/Tooltip';